PORT = your_port
MONGO_URI = your_mongodb_db_uri
SESSION_SECRET = your_secret_key
CORS_ORIGIN = [frontend_urls]
FRONTEND_URL = your_frontend_url
BACKEND_URL = your_backend_url
MERCHANT_ID = payhere_merchant_id
MERCHANT_SECRET = payhere_secret_code