@import "tailwindcss";
@import "./styles/theme.css";

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/nunito-latin-400-normal.woff2');
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/nunito-latin-500-normal.woff2');
    font-weight: 500;
    font-display: block;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/nunito-latin-700-normal.woff2');
    font-weight: 700;
    font-display: block;
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/nunito-latin-800-normal.woff2');
    font-weight: 800;
    font-display: block;
}

:root {
    --main: #936639;
    --light: #FFFBF7;
    --sec: #a68a64;
    --mainBlur: #93663920;
    --glassBlack: #00000030;
    --glassWhite: #ffffff50;
}

body {
    background-color: var(--light);
    scroll-behavior: smooth;
}

.nunito {
    font-family: 'Nunito';
}

body::-webkit-scrollbar {
    display: none;
}

.hideBar::-webkit-scrollbar {
    display: none;
}

.showBar::-webkit-scrollbar {
    display: block;
}


/* Button */

.btn {
    background-color: var(--mainBlur);
    border: solid 2px var(--sec);
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 12px;
    width: fit-content;
    cursor: pointer;
    backdrop-filter: blur(2px);
}

.btn:hover {
    transform: translate(2px);
    transition: ease 0.3s;
}


/* Navigation bar Sec */

.activeLine {
    position: relative;
}

.activeLine::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 0;
    height: 2.5px;
    background-color: var(--main);
}

.activeLine.active::after {
    width: 100%;
    transition: ease 0.3s;
}

.bottomLine:hover {
    width: 100%;
    transition: ease 0.3;
}

.iconColor.active {
    color: var(--main);
}

.navBtn {
    display: flex;
    align-items: center;
    font-size: 12px;
    border: solid var(--sec) 1px;
    border-radius: 2px;
    background-color: var(--mainBlur);
    backdrop-filter: blur(1px);
}

.navBtn:hover {
    transform: translate(2px);
    transition: ease 0.3s;
}

.navBtnText {
    border-right: 1px solid var(--sec);
    padding: 4px 10px;
}

.navIcon {
    padding: 4px 6px;
    margin: auto;
}

/* Hero banner Sec */

.heroCon {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23936639' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 100%;
}


/* Category Card Sec */

.categoryCard {
    display: flex;
    position: relative;
    border: solid 2px var(--sec);
    border-radius: 4px;
    padding: 2px 10px;
    background-color: var(--mainBlur);
    backdrop-filter: blur(1px);
    cursor: pointer;
    transition: ease 0.5s;
    user-select: none;
    overflow: hidden;
    min-width: 240px;
}

.categoryCardCon::-webkit-scrollbar {
    height: 10px;
}

.categoryCardCon::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to left, var(--mainBlur), var(--sec));
    width: 250px;
}

.categoryCard i {
    width: 30px;
    opacity: 80%;
    color: black;
}

.categoryCard h6 {
    position: absolute;
    font-weight: 900;
    color: var(--main);
    opacity: 85%;
    left: 70px;
    bottom: -6px;
    letter-spacing: -0.5px;
}

/* Product card */

.productCardCon::-webkit-scrollbar {
    height: 10px;
}

.productCardCon::-webkit-scrollbar-track {
    padding: 10px;
}

.productCardCon::-webkit-scrollbar-thumb {
    background-color: var(--mainBlur);
    width: 200px;
}

.productCard {
    border: 1px solid var(--sec);
    overflow: hidden;
}

.productCard img {
    transition: ease-in 0.2s;
}

.productCard img:hover {
    transform: scale(1.1);
}

.productCard .cardCat {
    display: flex;
    align-items: center;
    padding: 0.5px 0;
    width: fit-content;
    color: var(--main);
    background-color: var(--mainBlur);
    border: 1px solid var(--sec);
    padding-inline: 6px;
    border-radius: 1.5px;
}

.productCard .cartBtn {
    display: flex;
    width: fit-content;
    border: 1px solid var(--sec);
    background-color: var(--mainBlur);
    border-radius: 2px;
    cursor: pointer;
}

.productCard .cartBtn:hover {
    transform: translate(2px);
    transition: ease-in 0.3s;
}